<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.co.bitfactory.xmppandroidclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c2ff0f90e3677bd100d0a01ea42ddfcb3f856a62" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".XMPPService"
            android:exported="false" />
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".StartXMPPServiceJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".XMPPServiceDestroyedBroadcastReceiver"
            android:exported="false"></receiver>

        <service
            android:name=".XMPPServiceV2"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>